{{ $options := dict "targetPath" "js/bundle.js"}}
{{ $bundle := resources.Get "js/index.js" | js.Build $options }}

<script>
if (global === undefined) {
	var global = window;
}
</script>
<script src="{{ $bundle.Permalink }}"></script>
